* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.title_logo {
    font-size: 3rem;
    font-family: 'Mouse Memoirs', sans-serif;
    color: #FFFFFF;
    background-color: #7351E2;
    border-radius: 10px;
    padding: 10px;

    border-right: 7px solid #4821C6;
    border-bottom: 7px solid #4821C6;
    top: 0;
    left: 0;
    right: -30px;
    bottom: -30px;
    margin: 10px 30px;
}

header {
    background-color: #A893ED;
}

.nav_button{
    color: #FFFFFF;
    border: #FFFFFF 1px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #7351E2;
}

.nav_button:hover {
    background-color: #A893ED;
    transition: background-color 0.4s, color 0.4s;
}

.nav_bar {
    position: absolute;
    padding: 30px 20px 5px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.title_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid #000000 5px;
}

.title_logo{
    font-size: 5rem;
}

.title_subheading {
    font-weight: bold;
}

.diary_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px;
}

.date_text{
    font-size: 2rem;
    border-bottom: 1px #000000 solid;
    text-align: center;
    margin: 10px 0;
}

.weight_added_span{
    font-weight: 100;
}

.date_container {
    border: #000000 solid 1px;
    margin: 10px;
    padding: 0 20px 20px 20px;
    width: 500px;
    border-radius: 40px;
    background-color: #E9E3F4;
}

.form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 150px;
    border: #000000 solid 1px;
    padding: 10px;
    width: 500px;
    border-radius: 40px;
    background-color: #E9E3F4;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back_button {
    margin: 200px 0;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.back_button:hover {
    background-color: #A893ED;
    transition: background-color 0.4s, color 0.4s;
}

.comments_label {
    display: none;
}

@media screen and (max-width: 700px) {
    .nav_bar {
        position: static;
    }

    .date_container {
        max-width: 300px;
    }

    .form_box {
        max-width: 400px;
    }

    html {
        font-size: 12px;
    }

    main {
        padding: 0 10px;
    }
}